#pageTitle {
    text-align: center;
}

button {
    display: block;
    margin: 0 auto;
    margin-bottom: 5px;
}

img {
    display: block;
    margin: 0 auto;
}

figcaption {
    text-align: center;
}